.cart{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}
.cart-info{
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   width: 40%;
   height: 200px;
   margin-bottom: 20px;
   transition: all 1s;
}
.movie-add button{
    width: 150px;
    height: 40px;
    font-size: 16px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
}
.movie-img{
    width: 100%;
    height: 190px;
    background-color: gray;
}
.movie-img img{
    width: 100%;
    height: 190px;
   
}
.movie-title,.movie-year{
    margin-bottom: 3px;
}
