*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
}

/* 
    Grid System  ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/
.row{
    display: flex;
    justify-content: center;
    align-items: center;
}
.col-12
{
    width: 100%;
}
.col-11{
    width: calc(100%/12*11);
}
.col-10{
    width: calc(100%/12*10);
}
.col-9{
    width: calc(100%/12*9);
}
.col-8{
    width: calc(100%/12*8);
}
.col-7{
    width: calc(100%/12*7);
}
.col-6
{
    width: calc(100%/12*6);
}
.col-5{
    width: calc(100%/12*5);
}
.col-4{
    width: calc(100%/12*4);
}
.col-3{
    width: calc(100%/12*3);
}
.col-2{
    width: calc(100%/12*2);
}
.col-1{
    width: calc(100%/12*1);
}
.blog{
    width: 100%;
    background-color: rgb(84, 84, 236);
    height: 100px;
}
/* 
  ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/
.col-6 h1{
color: white;
text-align: center;
font-size: 35px;
line-height: 100px;
font-weight: 700;
font-family:sans-serif;
}
.save{
display: flex;
align-items: flex-start;
}